<% method = method || :post %>

<%= form_with model: model,
              url: url,
              method: method,
              class: "flex flex-col " do |form| %>
  <% if model.errors.any? %>
    <% model.errors.full_messages.each do |msg| %>
      <%= render 'shared/error_alert', msg: msg %>
    <% end %>
  <% end %>

    <div class="<%= form_element_class %>">

    <div class=<%= form_element_class %>>
      <%= form.label :workout, t('workout_days.workout'), class: form_label_class %>
      <%= form.select :workout, [[model.workout.name, model.workout.id]], {}, disabled: true, class: form_input_class %>
      <%= form.hidden_field :workout, value: model.workout.id %>
    </div>

    <div class=<%= form_element_class %>>
      <%= form.label :name, t('common.name'), class: form_label_class %>
      <%= form.text_field :name, value: model.workout_day.name, class: form_input_class %>
    </div>

    </div>

    <%= yield %>
    <%= form.submit t('common.save'), class: create_button_class("my-2") %>


<% end %>