<div class="flex items-center mb-4">
  <div class="text-3xl font-medium"><%= t('workout_days.header') %></div>
</div>

<div class="flex items-center mb-4">
  <div class="text-2xl font-medium mr-auto"><%= t('common.details') %></div>
  <%= button_to 'Delete', workout_workout_day_path, method: :delete, form: { data: { turbo_confirm: "Are you sure you want to delete #{@form.workout_day.name}?" } }, class: delete_button_class %>
</div>

<%= render 'workout_days/form',
           model: @form,
           method: :patch,
           url: workout_workout_day_path do %>

  <div class="flex items-center mb-4">
    <div class="text-2xl font-medium"><%= t('common.exercises') %></div>
    <div class="flex ml-auto">
      <%= link_to "Add", new_workout_workout_day_workout_day_exercise_path(@form.workout, @form.workout_day), class: default_button_class %>
    </div>
  </div>

  <div class="space-y-2 mb-2">
    <% @form.workout_day.workout_day_exercises.each do |wde| %>
      <div class="border rounded p-2 outline-1 border-gray-400 outline-gray-700 hover:outline">
        <%= link_to edit_workout_workout_day_workout_day_exercise_path(@form.workout, @form.workout_day, wde) do %>
          <div class="grid grid-cols-4 grid-rows-2 gap-2">
            <div><%= t('common.name') %></div>
            <div><%= t('common.sets') %></div>
            <div><%= t('common.reps') %></div>
            <div><%= t('common.weight') %></div>
            <div class="text-gray-700"><%= wde.exercise.name %></div>
            <div><%= wde.sets %></div>
            <div><%= wde.reps %></div>
            <div><%= wde.weight %></div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

<% end %>
