<div class="flex items-center mb-4">
  <div class="text-3xl font-medium"><%= @workout_day.name %></div>
  <div class="flex ml-auto">
    <%= link_to "Add", new_workout_workout_day_workout_day_exercise_path(@workout_day.workout.id, @workout_day.id), class: default_button_class %>
  </div>
</div>

<div class="space-y-2">
  <% @workout_day.workout_day_exercises.each do |wde| %>
    <div class="border-2 p-2">
      <div class="font-medium">
        <%= wde.exercise.name %>
      </div>
      <div>sets: <%= wde.sets %></div>
      <div>reps: <%= wde.reps %></div>
      <div>weight: <%= wde.weight %></div>
    </div>
  <% end %>
</div>