<nav>
  <div class="<%= layout_class %>">
    <div class="relative flex items-center justify-between h-16">
      <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
        <div class="text-lg flex-shrink-0 flex items-center text-black-700 font-bold mr-6">
          <%= link_to t('common.hugelifts'), root_path %>
        </div>
        <% if current_user %>
          <div class="flex space-x-4">
            <%= nav_link_to t('common.today'), todays_workout_index_path %>
            <%= nav_link_to t('common.workouts'), workouts_path %>
            <%= nav_link_to t('common.exercises'), exercises_path %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>