<%= render 'shared/page_header', header: t('todays_workout.header') %>

<% if @todays_workout.workout? %>
  <%= form_tag todays_workout_path(@todays_workout.id), method: :patch, id: 'todays_workout_form' do |f| %>
    <%= render 'shared/page_subheader', subheader: @todays_workout.day_name do %>
      <%= render 'skip_todays_workout_button', skipped: @todays_workout.skipped? %>
    <% end %>
    <div class="space-y-4 mb-4">
      <% @todays_workout.exercises.each do |exercise| %>
        <%= fields_for "scheduled_workout_exercises[]", exercise.scheduled_workout_exercise do |ef| %>
          <div class="border rounded p-2 outline-1 border-gray-400 outline-gray-700 flex flex-col bg-white">
            <div class="flex text-xl">
              <div class="mr-auto w-1/2">
                <%= exercise.name %>
              </div>
              <div class=<%= "text-red-400" if exercise.in_danger? %>>
                <%= exercise.sets %>x<%= exercise.reps %> @ <%= exercise.weight %><%= exercise.units %>
              </div>
            </div>
            <div class="flex justify-between px-2 py-4">
              <% exercise.sets.times do |ordinal| %>
                <div
                  class="h-14 w-14 rounded-full flex justify-center items-center cursor-pointer bg-white text-gray-600 border-2 border-gray-600 select-none"
                  data-rep-button
                  data-rep-active="<%= exercise.active(ordinal) %>"
                  data-rep-ordinal="<%= ordinal %>"
                  data-max-reps="<%= exercise.reps %>"
                  data-reps-done="<%= exercise.reps_for_ordinal(ordinal) %>"
                  data-exercise-id="<%= exercise.id %>">
                  <%= exercise.reps_for_ordinal(ordinal) %>
                </div>
              <% end %>
            </div>
          </div>
          <% exercise.sets.times do |i| %>
            <%= ef.hidden_field :result, id: "exercise_#{exercise.id}_#{i}_result", value: exercise.reps, multiple: true %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="flex justify-center pb-4">
      <button
        data-complete-button
        disabled
        form="todays_workout_form"
        class="<%= create_button_class("m-auto") %> disabled:bg-green-300 disabled:cursor-not-allowed w-full md:w-fit"><%= t('common.complete') %></button>
    </div>
  <% end %>

<% else %>
  <div class="flex items-center justify-center text-xl">
    <%= t('todays_workout.missing') %>
  </div>
<% end %>