<!DOCTYPE html>
<html>
  <head>
    <title><%= t('common.hugelifts') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>  </head>

  <body class="bg-neutral-50">
    <main class="">
      <%= render 'shared/navigation' %>
      <%= render 'shared/flash' %>
      <div class="<%= layout_class %>">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
