<!DOCTYPE html>
<html>
  <head>
    <title><%= t('common.hugelifts') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Hugelifts: weight training assistant and progress tracker"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#61b9d2">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body class="bg-neutral-50">
    <main class="">
      <%= render 'shared/navigation' %>
      <%= render 'shared/flash' %>
      <div class="<%= layout_class %>">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
