<!DOCTYPE html>
<html>
  <head>
    <title>Hugelifts</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="">
      <%= render 'shared/navigation' %>
      <div class="<%= layout_class %>">
        <%= yield %>

        <% if notice %>
          <div class="notice p-4 mb-4 mt-4 text-sm text-blue-700 bg-blue-100 rounded-lg dark:bg-blue-200 dark:text-blue-800" role="alert">
            <%= notice %>
          </div>
        <% end %>
        <% if alert %>
          <div class="alert p-4 mb-4 mt-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200 dark:text-red-800" role="alert">
            <%= alert %>
          </div>
        <% end %>
      </div>
    </main>
  </body>
</html>
